@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Titillium Web", sans-serif;
}

.text-responsive {
  font-size: 1.8rem; /* Small screens */
}

@media screen and (min-width: 640px) {
  .text-responsive {
    font-size: 2.5rem; /* Medium screens */
  }
}

@media screen and (min-width: 1024px) {
  .text-responsive {
    font-size: 4rem; /* Large screens */
  }
}
